.row {
  margin: 1% 5%;




}

.title__principal {
  font-size: 200%;
  padding: 1% 2% 2% 1%;
  
}

.present__img {
  width: 70%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.present__art {
  


}

.present__button {
   

}

.present__button1 {
  background-color: $blue-light;
  color:$white; 
  
}

.present__button2 {
  background-color: $rojo-suave;
  color: $white;
  
}

.card {
  margin: 5% 5%;
}





