.collapse {
}
.fa-bars {
}
.fa-bell {
}
.fa-plus {
}
.fa-search {
}
.fa-video {
}
.fas {
}
.justify-content-end {
}
.nav {
    padding: 2% 5%;
  


  &__links {
    padding: 0% 1%;

  }
  &__logo {
    font-family: $jost;

  }
  &__menu {
  }
}
.navbar-collapse {
}
.navbar-expand-lg {
}
